git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
PyNaCl==1.2.1
Django==2.0.1
boto3==1.6.6
botocore==1.9.6
opuslib==2.0.0
pathlib==1.0.1
rsa==3.4.2
s3transfer==0.1.13
virtualenv==15.1.0
django-toolbelt==0.0.1
django-heroku==0.3.1